@media (min-width: 1281px) {
  footer{
    margin-top: 15%;
  }
}
@media (min-width: 1024px) and (max-width: 1281px) {
  footer{
    margin-top: 18%;
  }
}
@media (min-width: 900px) and (max-width: 1024px) {
  footer{
    margin-top: 23%;
  }
}
@media (min-width: 767px) and (max-width: 900px) {
  footer{
    margin-top: 30%;
  }
}
@media (min-width: 650px) and (max-width: 767px) {
  footer{
    margin-top: 35%;
  }
  }
@media (min-width: 549px) and (max-width: 650px) {
  footer{
    margin-top: 48%;
  }
  }
@media (min-width: 481px) and (max-width: 549px) {
footer{
  margin-top: 60%;
}
}
@media (max-width: 480px) {
footer{
  margin-top: 80%;
}
  .col h3{
    font-size: 20px;
  }
  .email-id{
    width: fit-content;
    margin: 2px 0;
    font-size: 13px;
  }
  .padlet{
    font-size: 13px;
  }
  .logo{
    width: 20px;
}
}
@media (min-width: 320px) and (max-width: 400px) {
  footer{
    margin-top: 90%;
  }
    .col h3{
      font-size: 20px;
    }
    .email-id{
      width: fit-content;
      margin: 2px 0;
      font-size: 12px;
    }
    .padlet{
      font-size: 12px;
    }
    .logo{
      width: 20px;
  }  
}


*{
  margin: 0;
  padding: 0;
  input{
    cursor: pointer;
    }
}
.header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), src="med.jpg";
  background-position: center;
  background-size: cover;
  position: relative;
}
nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img{
  width: 170px;
}
.nav-links{
  flex: 1;
  text-align: right;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 19px;
}
.nav-links ul li::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #63f7c1;
    display: block;
    margin: auto;
}
.nav-links ul li:hover::after{
  width: 100%;
}
body {
  background-color: #111;
}

.text-box{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: left;
  box-shadow: 3px 3px 5px 5px rgb(79, 208, 158);
}
.text-box1{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  box-shadow: 3px 3px 5px 5px rgb(88, 77, 128);
}

.text-box p{
  margin: 20px 0 50px;
  font-size: 14px;
  color: #fff;
}

.hero-btn{
  display: inline-block;
  text-decoration: none;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  background-image: linear-gradient(to left, #162067 0%, #3fd18f 100%);
  padding: 14px 32px;
  border: none;
  border-radius: 25px;
  color: #fff;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}


.panel-heading { 
  margin: 0;
  padding: 20px;
  width: 100%;
  color:purple;
}

.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    font-size:14px;
    float: right;
    top:35px;
    color: purple;
    font-weight:normal;
    position:absolute;
}
.panel-heading a.collapsed:after {
  content:"\e080";
}

h4.panel-title {
  font-size:25px;
  font-family: 'Droid Serif', serif;
  a {
    color: purple;
    text-decoration:none;
  }
}

.panel  {
  background-color:#2e1111;
 }
.panel-group {
  .panel+.panel {
      margin-top: 0px;
  }
  .panel-default{
    border-top:transparent;    
  }
}
.panel-body {
  padding:25px;
  background-color: #4b2222;
  }
  .row0{
    display: flex;
    width: 100%;
    color: white;
  }


/* Footer CSS */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

footer{
  background-color: #111;
  padding: 30px 0;
  width: 100%;
  bottom: 0;
  font-size: 9px;
  line-height: 10px;
}
.row{
  display: flex;
  width: 100%;
  color: white;
  justify-content: space-between;
}
.col{
  flex-basis: 50%;
  padding: 10px;
  font-size: 15px;
}
.logo{
  width: 150px;
  margin-bottom: 0px;
  position: relative;
  float:left;

}
.col h3{
  width: fit-content;
  margin-bottom: 20px;
}
.email-id{
  width: fit-content;
  margin: 10px 0;
}
.footer__container{
  background-color: #111;
}

  
